<head>
<!-- 	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'> -->
</head>
<body>
	<div class="row-fluid">
		<div class="span8 offset2 text-center">	
			<div class="steamy-hottub">
				<h1 class="custom-font">
					Hi, I'm Tina.
				</h1>
				<h2 class="custom-font">
					I'm having a blast learning how to code!
				</h2>
				<h4 class="custom-font">
					meow meow meow meow meow meow
				</h4>

				<%= link_to 'Launch my App!', '#', :class =>'btn btn-primary btn-large' %>
			</div>
		</div>
	</div>
</body>