<div class="row-fluid">
	
			<% @pics.each do |pic| %>

				<div class="steamy-hottub span3">
					<h1 class="custom-font">
						Hour: <%= pic.hour %>
					</h1>
					<br/>
					<h2 class="custom-font">
					Emotion: <%= pic.emotion %>
					<br/>
					Learned: <%= pic.learned %>
					</h2>
				</div>
			<% end %>
</div>