<div class="row-fluid">
	<div class="span6 offset3 text-center">	
		<div class="steamy-hottub">
			<h2 class="custom-font">
				
				<% @pics.each do |pic| %>
					Hour: <%= pic.hour %>
					<br/>
					Emotion: <%= pic.emotion %>
					<br/>
					Learned: <%= pic.learned %>
				<% end %>


			</h2>
		</div>
	</div>
</div>