/*This site was hacked together by Marco with lots of hottub power*/

.steamy-hottub {
	box-shadow: 2px -2px 2px 2px rgba(36,32,33,0.50);
	background-color: rgba(36,32,33,0.50);
	padding: 5%;
	margin-top: 30px;
}

.btn {
	margin-top: 13px;
}

.navbar .nav {
	float: right;
}
.navbar .brand {
	font-size: 27px;
}
body {

	background: url('bg.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	moz-background-size: cover;
	o-background-size: cover;
	background-size: cover;

	font-family: Helvetica, sans-serif;
}
/*
	Typography
*/

h1 {
	font-size: 4em;
	font-weight: 200;
	line-height: 1em;
}

h2 {
	font-size: 2em;
	font-weight: 200;
}

h4 {
	font-weight: 200;
}
.custom-font {
	color: white;
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}








